* {
    box-sizing: border-box;
}

html{
    background-color: #e7effa;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#title{
    font-size: 2rem;
    text-align: center;
}

.root{
    padding: 3rem;
}

.container{
    padding: 1rem 5rem 1rem 5rem;
    background-color: #FFFFFF;
    height: 100%;
}

.partie-5{

}

a {
    color: black;
    transition: color 0.3s;
}

a:hover{
    color: #737373;
}