html {
  color-scheme: dark light;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  background-color: hsl(0, 0%, 10%);
  border-radius: 4rem;
  padding: 2rem;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  list-style: none;
}

li a {
  display: block;
  background-color: hsl(0, 0%, 20%);
  transition: 150ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 0.5rem;
}

li a:hover {
  background-color: hsl(0, 0%, 30%);
  transform: translateY(-0.5rem);
}

li a:active {
  background-color: hsl(0, 0%, 15%);
  transform: translateY(0.5rem);
}
